
body {
	background: tomato;
}


/* ================================= 
  Mobile
==================================== */




main {
	@include outer-container(90%);

	margin: 5em auto;
	// display: flex;
	} 


	.container {
		width: 100%;
		margin: 1em auto;
		display: flex;
		flex-direction: column;

		// > div {
		// 	flex: 1;
		// }

		.top {
			// border: solid 1px green;
			padding: 0;
			display: inline-block;
			position: relative;

			
			img {
				width: 100%; 
			}

			.controls {
				position: absolute;
				padding: 0 .25em;
				bottom: 5px;
				width: 100%;
				display: flex;
				justify-content: space-around;
			}
			
			button {
				@include button(#C80B0B);
				// position: absolute;
				flex: 1 1 50%;
				margin: 0 1px;

				// border: 1px solid #601;
				font-size: 1em;
			}
			
		}


		.middle {
			display: flex;
			
		.border {
			flex: 1 1 10%;
			// min-width: 20px;
			background: darkred;
		}
		
		.border:first-child {
			border-left: 2px solid #730505;
		}

		.border:last-child {
			border-right: 2px solid #730505;
		}

		.display {
			flex: 1 1 80%;
			padding-left: 1.3em;
			padding-right: 1.3em;			
			margin: -5px auto 0;
			background: #111;
			// text-align: center;
			// width: 100%;
			display: flex;
			flex-wrap: wrap;
			font-family: $screen-font;
		
			.countdown-flex {
			  // border: dotted 1px #494;					
			  	// flex-basis: 100%;
			  	width: 100%;
			  	text-align: center;
			  	margin: 0 auto; 		
			  // display: flex;
			  // justify-content: space-around; 					

			  	.padOn {
				    // border: dashed 1px rgba(168,168,168, .7);				  		
			  		// text-align: right;
			  		// padding-top: 15px;	
			  		color: #232;
					// flex:1 0 20%;
				    font-size: 6em;
					text-shadow: 0 0 3px rgba(34, 51, 34, .9), 0 0 6px rgba(34, 51, 34, .7), 0 0 12px rgba(34, 34, 34, .8), 0 0 24px rgba(34, 34, 34, .8), 0 0 48px rgba(34, 34, 34, .8);			    					  		
			  	}

				.countdown {
				  // border: dashed 1px rgba(168,168,168, .7);				
				  // text-align: left;	
				  // flex:1 0 80%;
				  font-size: 6em;	
				  width: 100%;	
				  color: #dfd;
				  animation: neon4 .03s ease-in-out infinite alternate;

				}

			}
			
			.time-flex {
			  border: dotted 1px pink;	
			  flex-basis: 50%;
			  // display: flex; 
			  					
			  	.padOn {
					flex-basis: 25%;
					color: #333;		  		
			  	}
			  	
			  	.padOff {
					flex-basis: 0;		  		
			  	}
			  	
				.time {
					// border: dotted 1px pink;
					flex-basis: 75%;
					font-size: 2em;
				    color: #bfb;
				    animation: neon4 .05s ease-in-out infinite alternate;						
				}
				
			}
			
			
			.break-flex {
			  flex-basis: 50%;
			  // display: flex;
			  
			  	.pad {
					flex-basis: 25%;		  		
			  	}
			   
				.break {
					// border: dotted 1px pink;		
					flex-basis: 75%;
					font-size: 2em;
				    color: #bfb;
				    animation: neon4 .05s ease-in-out infinite alternate;			
				}
				
			}
			

			
		}

			
		}

		
		
		.bottom {
			// border: solid 1px red;
			padding: 0;
			margin: 0;
			display: inline-block;
			position: relative;	
				
			img {
				width: 100%;
			}
			
			button {
				@include button(#C80B0B);
				margin: 0 1px;
				// position: absolute;
				// padding: .5 2em;
				// width: 1.7em;
				flex: 1 1 25%;
			}

			// button:nth-child(2) {
			// 	margin-right: 1px;
			// }
			// button:nth-child(3) {
			// 	margin-left: 1px;
			// }
			
			.time-adjust {
				position: absolute;
				padding: 0 .25em;
				width: 100%;
				top: 5px;
				display: flex;
				justify-content: space-around;
			}

			.time-decrement {
				// left: 45px;
				// top: 10px;			
			}

			.time-increment {
				// left: 75px;
				// top: 10px;			
			}
			
			.break-decrement {
				// right: 45px;
				// top: 10px;			
			}

			.break-increment {
				// right: 75px;
				// top: 10px;			
			}		

		}


	}


/* ================================= 
  Tablet
==================================== */

@include media($tablet) {

	
	main {
		
	
		
		@include outer-container(60%);			
	}	
	
}




/* ================================= 
  Desktop
==================================== */
@include media($desktop) {

	
	main {
		
		
		
		@include outer-container(40%);			
	}	
	
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px #B6FF00, 0 0 24px #B6FF00, 0 0 48px #B6FF00;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #B6FF00, 0 0 16px #B6FF00, 0 0 32px #B6FF00;
  }
}