
body {
	background: lighten(olivedrab, 15%);
}

.flicker {
	animation: flicker .03s ease-in-out infinite alternate;	
}

.flash {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #B6FF00, 0 0 16px #B6FF00, 0 0 32px #B6FF00;	
	animation: flash .5s ease-in-out infinite alternate;	
}


/* ================================= 
  Mobile
==================================== */


main {
	@include outer-container(90%);

	margin: 4em auto;
	// display: flex;
	} 


	.container {
		width: 100%;
		margin: 1em auto;
		display: flex;
		flex-direction: column;

		.top {
			// border: solid 1px green;
			padding: 0;
			display: inline-block;
			position: relative;

			
			img {
				width: 100%; 
			}

			.controls {
				position: absolute;
				padding: 0 .25em;
				bottom: 9px;
				width: 100%;
				display: flex;
				justify-content: center;
			}
			
			button {
				@include button(#C80B0B);
				// position: absolute;
				flex: 0 1 25%;
				margin: 0 1px;

				i.fa {
					font-size: 1.4em;
					color: lighten(salmon, 10%);
					text-shadow: 0 -1px 1px darken(tomato, 40%), 0 1px 1px lighten(tomato, 18%);
				}
			}
			
		}

		.middle {
			display: flex;
			
		.border {
			flex: 1 1 10%;
			// min-width: 20px;
			margin-top: -5px;
			background: lighten(darkred, 6%);
		}
		
		.border:first-child {
			border-left: 2px solid #730505;
		}

		.border:last-child {
			border-right: 2px solid #730505;
		}

		.display {
			flex: 1 1 80%;
			padding-left: 1.3em;
			padding-right: 1.3em;			
			margin: -5px auto 0;
			background: #111;
			// text-align: center;
			// width: 100%;
			display: flex;
			flex-wrap: wrap;
			font-family: $screen-font;
		
			.countdown-flex {
			  // border: dotted 1px #494;					
			  	// flex-basis: 100%;
			  	width: 100%;
			  	text-align: center;
			  	margin: 0 auto; 		
			  // display: flex;
			  // justify-content: space-around; 					

				.countdown {
				  font-size: 6em;	
				  width: 100%;	
				  color: #dfd;
				}
			}
			
			.time-flex {	
			  flex-basis: 50%;
			  padding-right: 1em;
			  text-align: right;  
			  								  	
				.time {
					text-align: right;
					flex-basis: 75%;
					font-size: 2em;
				    color: #bfb;					
				}				
			}			
			
			.break-flex {
			  flex-basis: 50%;
			  padding-left: 1em;
			  text-align: left;  		  		  
			   
				.break {
					text-align: left;			
					flex-basis: 75%;
					font-size: 2em;
				    color: #bfb;		
				}				
			}		
		}

			
		}

		
		
		.bottom {
			// border: solid 1px red;
			padding: 0;
			margin: 0;
			display: inline-block;
			position: relative;	
				
			img {
				width: 100%;
			}
			

			
			.time-adjust {
				position: absolute;
				padding: 0 .25em;
				width: 100%;
				top: 5px;
				display: flex;
				justify-content: center;
			}

			button {
				@include button(#C80B0B);
				margin: 0 1px;
				// position: absolute;
				// padding: .5 2em;
				// width: 1.7em;
				flex: 0 1 12.5%;

				i.fa {
					font-size: 1.4em;
					color: lighten(salmon, 10%);
					text-shadow: 0 -1px 1px darken(tomato, 40%), 0 1px 1px lighten(tomato, 18%);
				}
			}



			.time-decrement {
				// left: 45px;
				// top: 10px;			
			}

			.time-increment {
				// left: 75px;
				// top: 10px;			
			}
			
			.break-decrement {
				// right: 45px;
				// top: 10px;			
			}

			.break-increment {
				// right: 75px;
				// top: 10px;			
			}		

		}


	}


/* ================================= 
  Tablet
==================================== */

@include media($tablet) {

	
	main {
		
	
		
		@include outer-container(60%);			
	}	
	
}


/* ================================= 
  Desktop
==================================== */
@include media($desktop) {

	
	main {
		margin: 2em auto;					
		@include outer-container(50%);			
	}	
	
}


@include media($desktop-large) {

	
	main {
		margin: 2em auto;						
		@include outer-container(35%);			
	}	
	
}

